<button id="load-btn" >load</button>
<button id="preview-btn" >save and preview</button>
<div id="markdown-box">
  <textarea id="markdown" name="" cols="30" rows="10"></textarea>
</div>
<div id="preview-box">
<iframe id="preview" src="/markdown/real/index.html"></iframe>
</div>

