/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#preview-box{
  width: 1200px;
  height: 600px;
  background-color: #000000;
  padding: 5px;
  -webkit-transform-origin: 0 0%;
   -webkit-transform: scale(0.5);  
   -moz-transform: scale(0.5);  
}
#preview{
  width: 100%;
  height: 580px;
}
#markdown{
  width: 600px;
  height: 300px;
}
